azure-storage-blob
box2d-py
h5py~=3.11.0
matplotlib
numpy
pandas
plotly
psutil
pygame
pyglet
pyserial
python-dotenv
pyzmq
scikit-learn
scipy
swig
tensorflow-probability[tf]~=0.25.0
tensorflow~=2.18.1
keras~=3.11.3
tqdm
xxhash
