azure-storage-blob
h5py~=3.11.0
matplotlib
numpy
pandas
plotly
psutil
pygame
pyglet
pyserial
python-dotenv
pyzmq
scikit-learn
scipy
swig
tensorflow-probability[tf]~=0.25.0
tensorflow~=2.18.1
# tensorflow-metal  ; sys_platform == "darwin" and (platform_machine == "arm64" or platform_machine == "aarch64")
keras~=3.11.3
tqdm
xxhash
dynaconf